@import '../variables';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  min-height: 100vh;
  font-size: 62.5%;
}

body {
  background-color: $color-background;
  background-image: url('../../assets/images/bg-pattern-top.svg'), url('../../assets/images/bg-pattern-bottom.svg');
  background-size: 1000px, 1200px;
  background-position: calc(50% - 450px) calc(50% - 350px), calc(50% + 550px) calc(50% + 500px);
  background-repeat: no-repeat, no-repeat;
  font-family: $font-family-default;
  font-size: 1.6rem;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 86%;
  min-height: 300px;
  max-width: 350px;
  display: flex;
  flex-direction: column;

  &__top {
    position: relative;
    flex-grow: 5;
    background-image: url('../../assets/images/bg-pattern-card.svg');
    border-radius: 15px 15px 0 0;
  }

  &__button {
    position: absolute;
    top: 50%;
    transform: scale(1.7) translateY(-50%);
    right: 10%;
    color: $color-main-text;
    transition: .3s;

    &:hover {
      cursor: pointer;
      transform: scale(2) translateY(-50%) rotate(180deg);
    }
  }
}