@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$font-family-default: 'Kumbh Sans',
sans-serif;

$color-background: hsl(185, 75%, 39%);
$color-main-text: hsl(229, 23%, 23%);
$color-secondary-text: hsl(227, 10%, 50%);